.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
Country.iml
gradlew
gradlew.bat
app/app.iml
app/proguard-rules.pro
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
